<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>My Puppies!</h1>
    <% @puppies.each do |puppy| %>
      <h3><%= puppy.name %></h3>
      <p><%= puppy.breed %></p>
      <img src="<%= puppy.image %>" alt="super cute image of <%= puppy.name %>">
    <% end %>
  </body>
</html>
