<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <title>My Puppies!</title>
  </head>
  <body>
    <h1>My Grid Puppies!</h1>
    <section class="puppies">
      <% @puppies.each do |puppy| %>
      <div class="puppy-card">
        <h3><%= puppy.name %></h3>
        <p><%= puppy.breed %></p>
        <img src="<%= puppy.image %>" alt="super cute image of <%= puppy.name %>">
      </div>
      <% end %>
    </section>
  </body>
</html>
